extends layout
  
block content
    h1 Validation de la demande
    div.validation-demande
        div
            p Identification : #{demande.id}
            p Nom : #{demande.nom}
            p Email : #{demande.email}
            p Telephone : #{demande.telephone}
            p Organisation : #{demande.organisation}
            p Role dans l'entreprise : #{demande.role_ds_entreprise}
            p Motivation : #{demande.motivation}
            p Objectifs : #{demande.objectifs}
            p Date de création : #{demande.date_soumission.toLocaleString('en-GB', { timeZone: 'UTC' })}
             p Curriculum vitae : #{demande.cv}
            p Lettre de motivation : #{demande.lettre_motivation}
        hr
        form.createSuiviDmd(action="#", method="POST")
            p #{demande.id}
            div 
                if demande.suivi_demande.length <= 1
                    label(for="validation") Veuillez valider la demande :
                    select(id="validation", name="validation")
                        option(value="") Choisir
                        option(value="valider") Valider
                        option(value="rejeter") Refuser
                else 
                    label(for="commentaire") Ajouter un évenement
                    textarea(id="commentaire", name="commentaire", rows="5", cols="50")
                button.navLink(type="submit") Valider
        hr
        div 
            table
                thead
                    tr
                        th Id
                        th Date
                        th Evénement
                        th Actions
                tbody
                    each suivi in demande.suivi_demande
                        tr
                            td= suivi.id
                            td= suivi.date.toLocaleString('en-GB', { timeZone: 'UTC' })
                            td= suivi.evenement
                            td
                                a(href="#")  modifier
                                a(href="#") Valider
                                a(href="#") Delete
        


    link(rel="stylesheet", href="/stylesheets/demande.css")
