extends layout
  
block content
    div(class="demandes")
        h1 Liste des demandes d'adhésion
        section.filtres
            h2 Filtres
            form(action="#", method="GET")
                div
                    label(for="etat") État
                    select#etat(name="etat")
                        option(value="") Tous
                        option(value="En cours") En cours
                        option(value="Terminé") Terminé
                        option(value="Annulé") Annulé
                div
                    label(for="date-debut") Date de début
                    input(type="date", id="date-debut", name="date-debut")
                div
                    label(for="date-fin") Date de fin
                    input(type="date", id="date-fin", name="date-fin")
                    button(type="submit") Filtrer
        section.liste-demandes
            table
                thead
                    tr
                        th Numéro
                        th Date
                        th État
                        th Demandeur
                        th Titre
                        th Actions
                tbody
                    each demande in demandes
                        tr
                            td= demande.id
                            td= demande.date_soumission
                            td= demande.statut
                            td= demande.organisation
                            td= demande.nom
                            td
                                a(href="/demandes/id") Voir
                                a(href="#") Valider
                                a(href="#") Refuser
        ul.statistic 
            li Nombre total de demandes: !{demandes.length}
            li Nombre de demandes en attente: !{demandes.filter(demande => demande.statut === 'en attente').length}
            li Nombre de demandes validées: !{demandes.filter(demande => demande.statut === 'validé').length}
            li Nombre de demandes annulé: !{demandes.filter(demande => demande.status === 'annulé').length}
            li.btns 
                a.navLink  Exporter les données
                a.navLink(href="/demandes")  Actualiser la page

    link(rel="stylesheet", href="/stylesheets/demandes.css")
