extends layout
  
block content
    h1(class="text-center font-extrabold text-xl md:text-2xl lg:text-3xl xl:text-4xl") Validation de la demande
    div.validation-demande
        div(class="w-full md:flex p-3 gap-4 lg:border-2 my-6")
            div(class="border-4 border-dashed p-3 flex flex-col my-3 w-[50%]")
                h2(class='text-lg font-bold mb-2') Information sur la démande
                p Numero : #{demande.id}
                p Identification : #{demande.requestId}
                p Nom : #{demande.nom}
                p Email : #{demande.email}
                p Telephone : #{demande.telephone}
                p Organisation : #{demande.nom_organisation}
                p Forme juridique : #{demande.forme_juridique}
                p Secteur d'activité  : #{demande.secteur_activite}
                p Province d'activité  : #{demande.province_activite}
                p Statut de la demande : #{demande.statut}
                p Date de création : #{demande.date_soumission.toLocaleString('en-GB', { timeZone: 'UTC' })}
            div(class="border-4 border-dashed p-3 flex flex-col justify-between my-3 w-[50%]")
                div(class='lg:flex lg:gap-x-6 relative')
                    div.actions(class='2/4') 
                        h2(class='text-lg font-bold mb-2') Actions
                        div(class='flex flex-col gap-y-2')
                            input.valider(type='button' data-id=demande.requestId data-name=demande.nom data-email=demande.email value='valider' class='text-white bg-red-600 rounded-lg font-bold p-1')
                            input.rejeter(type='button' data-id=demande.resquestId value='rejeter' class='text-white bg-red-600 rounded-lg font-bold p-1')
                            input.supprimer(type='button' data-id=demande.requestId value='supprimer' class='text-white bg-red-600 rounded-lg font-bold p-1')
                    form(class='w-2/4')
                        label(for="commentaire") Ajouter état de la demande
                        textarea.suiviCreate(name="commentaire", rows="5" class="border-2 rounded-lg p-2 my-1 w-full")
                        input.btnSuiviCreate(type="submit" data-id=demande.requestId value='Valider' class="bg-sky-blue p-2 font-bold text-white rounded-lg my-2 w-full cursor-pointer")
                    div.loading(class="hidden absolute top-2/4 right-2/4 bg-red-200 w-2/4 rounded-lg")
                        div(class='text-center py-12') 
                            span loading
                            span .....
        div 
            h2(class="font-bold text-xl mb-3") Etat de la demande
            table(class="w-full border-2 p-2 mb-6")
                thead
                    tr(class="py-2 bg-gray-200")
                        th(class="text-center") Id
                        th(class="text-center") Date
                        th(class="text-center") Etat
                        th(class="text-center") Actions
                tbody
                    each suivi in demande.suivi_demande
                        tr(class="relative")
                            td(class="text-center")= suivi.id
                            td(class="text-center")= suivi.date.toLocaleString('en-GB', { timeZone: 'UTC' })
                            td(class="text-center")= suivi.evenement
                            td.actionsTD(class="text-center")
                                input(type='button' data-id=suivi.id value='Modifier' class="font-semibold text-sky-blue hover:text-sky-blue visited:text-sky-blue cursor-pointer")
                                input.suiviDelete(type="button" data-id=suivi.id value='Supprimer' class="font-semibold text-sky-blue hover:text-sky-blue visited:text-sky-blue ml-3 cursor-pointer") 
        
    script(src="/javascripts/demande.js")
