extends layout
  
block content
    div(class="newsletter")
        h1(class="text-center font-extrabold text-xl md:text-2xl lg:text-3xl xl:text-4xl") Liste des abonnés aux newsletters
        section(class="w-full md:flex p-3 gap-4 lg:border-2 my-6")
            div(class="border-2 p-3 my-3 w-[50%]")
                h2(class="font-bold text-xl mb-3") Newsletter
                form(class="flex flex-col")
                    input(type="text" placeholder='Objet' class="border-2 rounded-lg p-2 my-1")
                    textarea(name="message", cols="30", rows="5" placeholder="newsletter" class="border-2 rounded-lg p-2 my-1")
                    button(type='submit' class="bg-sky-blue p-2 font-bold text-white rounded-lg my-2 w-max") Envoyer
            ul.statistic(class="border-4 border-dashed p-3 flex flex-col my-3 w-full gap-y-4")
                h2(class='text-lg font-bold mb-2') Les statistiques
                li Nombre total de nessages: !{newsletters.length}
                li Nombre de messages non lus: !{newsletters.filter(newsletter => newsletter.read === false).length}
                li Nombre de messages lus: !{messages.filter(message => message.read === true).length}
                li(class="my-4 xl:flex") 
                    a(class="p-3 bg-sky-blue rounded-lg text-white hover:opacity-80 mr-4 font-semibold block text-center w-max")  Exporter les données
                    a(href="/demandes" class="p-3 bg-sky-blue rounded-lg text-white hover:opacity-80 mr-4 font-semibold block my-4 text-center w-max xl:my-0")  Actualiser la page
        section.liste-messages
            h2(class="font-bold text-xl mb-3") Listes des dmessages
            table(class="w-full border-2 p-2 mb-6")
                thead
                    tr(class="py-2 bg-gray-200 px-1")
                        th(class="text-center") id
                        th(class="text-center") Date
                        th(class="text-center") Nom
                        th(class="text-center") Email
                        th(class="text-center") Message
                        th(class="text-center") statut
                        th(class="text-center") Actions
                tbody
                    each message in messages
                        tr(class="border-b-2 py-2 px-1")
                            td(class="text-center")= message.id
                            td(class="text-center")= message.date.toLocaleString('en-GB', { timeZone: 'UTC' })
                            td(class="text-center")= message.nom
                            td(class="text-center")= message.email
                            td(class='pl-2')= message.message
                            td(class='pl-2')= message.read
                            td(class="text-center")
                                a(href=`/messages/${message.id}` class="font-semibold text-sky-blue hover:text-sky-blue visited:text-sky-blue") Voir

