extends layout
  
block content
    div(class="w-full")
        h1(class="text-center font-extrabold text-xl md:text-2xl lg:text-3xl xl:text-4xl") Gestion des comptes utilisateurs
        div(class="w-full flex p-3 lg:gap-4 lg:border-2 my-6")
            form.signup(action="#", method="POST" class="border-4 border-dashed p-3 flex flex-col my-3 w-full")
                h2(class='text-lg font-bold mb-2') Créer un nouveau utilisateur
                input(type="text", id="prenomSignup", name="prenom" placeholder='Prenom' class="border-2 rounded-lg p-2 my-1")
                input(type="text", id="nomSignup", name="nom" placeholder='Nom' class="border-2 rounded-lg p-2 my-1")
                input(type="email", id="emailSignup", name="email" placeholder='Email' class="border-2 rounded-lg p-2 my-1")
                input(type="password", id="passwordSignup", name="password" placeholder='Password' class="border-2 rounded-lg p-2 my-1")
                input(type="number", id="telephoneSignup", name="telephone" placeholder='Télephone' class="border-2 rounded-lg p-2 my-1")
                select(id="roleSignup", name="role" class="border-2 rounded-lg p-2 my-1")
                    option(value="") Choisir un rôle
                    option(value="administrateur") Administrateur
                    option(value="utilisateur") Utilisateur
                button(type="submit" class="bg-sky-blue p-2 font-bold text-white rounded-lg my-2") Créer le compte
            form.putUser(action="#", method="POST" class="border-4 border-dashed p-3 flex flex-col my-3 w-full")
                h2(class='text-lg font-bold mb-2') Modifier un utilisateur
                select(id="user", name="user" class="border-2 rounded-lg p-2 my-1")
                    option(value="") Choisir un utilisateur
                    each user in users
                        option(value=user)= user.profil_user.nom
                input(type="text", id="putPrenom", name="prenom" placeholder='Prenom' class="border-2 rounded-lg p-2 my-1")
                input(type="text", id="putNom", name="nom" placeholder='Nom' class="border-2 rounded-lg p-2 my-1")
                input(type="email", id="putEmail", name="email" placeholder='Email' class="border-2 rounded-lg p-2 my-1")
                input(type="text", id="putPassword", name="password" placeholder='Password' class="border-2 rounded-lg p-2 my-1")
                input(type="number", id="putTelephone", name="telephone" placeholder='Télephone' class="border-2 rounded-lg p-2 my-1")
                select(id="putRole", name="role" class="border-2 rounded-lg p-2 my-1")
                    option(value="") Choisir un rôle
                    option(value="administrateur") Administrateur
                    option(value="utilisateur") Utilisateur
                button(type="submit" class="bg-sky-blue p-2 font-bold text-white rounded-lg my-2") Valider les modifications
            ul.statistic(class="border-4 border-dashed p-3 flex flex-col my-3 w-full gap-y-4")
                h2(class='text-lg font-bold mb-2') Les statistiques
                li Nombre total comptes: !{users.length}
                li Nombre de compte utilisateurs: !{users.filter(user => user.role === 'utilisateur').length}
                li Nombre de compte administrateur: !{users.filter(user => user.role === 'administrateur').length}
                li(class="my-4 xl:flex") 
                    a(class="p-3 bg-sky-blue rounded-lg text-white hover:opacity-80 mr-4 font-semibold block my-4 text-center w-max xl:my-0")  Exporter les données
                    a(href="/users/server" class="p-3 bg-sky-blue rounded-lg text-white hover:opacity-80 mr-4 font-semibold block my-4 text-center w-max xl:my-0")  Actualiser la page
        section.liste-users
            h2(class="font-bold text-xl mb-3") Listes des utilisateurs
            table(class="w-full border-2 p-2 mb-6")
                thead
                    tr(class="py-2 bg-gray-200")
                        th(class="text-center") ID
                        th(class="text-center") Nom complet
                        th(class="text-center") Email 
                        th(class="text-center") Telephone
                        th(class="text-center") Role
                        th(class="text-center") Status
                        th(class="text-center") Actions
                tbody
                    each user in users
                        tr
                            td(class="text-center")= user.id
                            td(class="text-center")= user.profil_user.nom
                            td(class="text-center")= user.email
                            td(class="text-center")= user.profil_user.telephone
                            td(class="text-center")= user.role
                            td(class="text-center")= user.profil_user.status_adhesion
                            td(class="text-center") 
                                a(href=`/users/server/${user.id}` class="font-semibold text-sky-blue hover:text-sky-blue visited:text-sky-blue") Voir

    script(src="/javascripts/users.js")


