extends layout
  
block content
    h1= 'Utilisateur ' + user.nom
    div.utilisateur
        div
            p Identification : #{user.id}
            p Nom : #{user.nom}
            p Email : #{user.email}
            p Role : #{user.role}
            p Statut : #{user.statut}
            p Date de création : #{user.date_inscription.toLocaleString('en-GB', { timeZone: 'UTC' })}
        hr
        form.suiviUtilisateur(action="#", method="POST")
            p #{user.id}
            div
                label(for="action") Actions
                select(id="action", name="action")
                    option(value="") Choisir
                    option(value="bloquer") Bloquer
                    option(value="debloquer") Débloquer
                    option(value="supprimer") Supprimer
            div
                label(for="commentaire") Commentaire (facultatif)
                textarea(id="commentaire", name="commentaire", rows="5", cols="50")
            button.navLink(type="submit") Valider
        hr
        div 
            table
                thead
                    tr
                        th Id
                        th Date
                        th Notifications
                        th Actions
                tbody
                    each suivi in user.suivi_utilisateur
                        tr
                            td= suivi.id
                            td= suivi.date.toLocaleString('en-GB', { timeZone: 'UTC' })
                            td= suivi.notifications
                            td
                                a(href="#")  modifier
                                a(href="#") Valider
                                a(href="#") Delete

    link(rel="stylesheet", href="/stylesheets/user.css")