extends layout
  
block content
    h1(class="text-center font-extrabold text-xl md:text-2xl lg:text-3xl xl:text-4xl") #{user.role} #{user.profil_user.nom}
    div.utilisateur
        div.userInfo(class="w-full md:flex p-3 gap-4 lg:border-2 my-6") 
            div(class="border-4 border-dashed p-3 flex flex-col my-3 w-[50%]")
                h2(class='text-lg font-bold mb-2') Profil utilisateur
                p Identification : #{user.id}
                p Nom : #{user.profil_user.nom}
                p Email : #{user.email}
                p Role : #{user.role}
                p Statut : #{user.statut}
                p adresse : #{user.profil_user.adress}
                p adresse : #{user.profil_user.ville}
                p Date de création : #{user.date_inscription.toLocaleString('en-GB', { timeZone: 'UTC' })}
                p Date d'adhésion : #{user.profil_user.date_adhesion}
                p Status d'adhésion : #{user.profil_user.status_adhesion}
            div.suiviUtilisateur(class="border-4 border-dashed p-3 flex flex-col justify-between my-3 w-[50%]")
                p.identifiant(class="hidden") #{user.id}
                div(class='lg:flex lg:gap-x-6 relative')
                    div.actions(class='2/4') 
                        h2(class='text-lg font-bold mb-2') Actions
                        div(class='flex flex-col gap-y-2')
                            button.bloquer(class='text-white bg-red-600 rounded-lg font-bold p-1') Bloquer
                            button.debloquer(class='text-white bg-red-600 rounded-lg font-bold p-1')  Debloquer
                            button.supprimer(class='text-white bg-red-600 rounded-lg font-bold p-1')  Supprimer
                    form(class='w-2/4' action="/suivi_utilisateur", method="POST")
                        label(for="commentaire") Commentaire (facultatif)
                        textarea(id="commentaire", name="commentaire", rows="5" class="border-2 rounded-lg p-2 my-1 w-full")
                        button(type="submit" class="bg-sky-blue p-2 font-bold text-white rounded-lg my-2 w-full") Valider
                    div.loading(class="hidden absolute top-2/4 left-2/4")
                        span loading 
                        span .....
        div 
            h2(class="font-bold text-xl mb-3") Suivi Utilisateur
            table(class="w-full border-2 p-2 mb-6")
                thead
                    tr(class="py-2 bg-gray-200")
                        th(class="text-center") Id
                        th(class="text-center") Date
                        th(class="text-center") Notifications
                        th(class="text-center") Actions
                tbody
                    each suivi in user.suivi_user
                        tr
                            td(class="text-center")= suivi.id
                            td(class="text-center")= suivi.date.toLocaleString('en-GB', { timeZone: 'UTC' })
                            td(class="text-center")= suivi.notifications
                            td
                                a(href="#")  modifier
                                a(href="#") Valider
                                a(href="#") Delete
        
    script(src="/javascripts/user.js")