extends layout
  
block content
    h1 Gestion des comptes utilisateurs
    div.form
        form.signup(action="#", method="POST")
            div 
                label(for="nom") Nom
                input(type="text", id="nom", name="nom")
            div
                label(for="prenom") Prénom
                input(type="text", id="prenom", name="prenom")
            div
                label(for="email") Email
                input(type="email", id="email", name="email")
            div
                label(for="telephone") Téléphone
                input(type="tel", id="telephone", name="telephone")
            div
                label(for="role") Rôle
                select(id="role", name="role")
                    option(value="") Choisir un rôle
                    option(value="administrateur") Administrateur
                    option(value="utilisateur") Utilisateur
            button.navLink(type="submit") Créer le compte
        form.putUser(action="#", method="POST")
            div 
                label(for="utilisateur") Utilisateur
                select(id="utilisateur", name="utilisateur")
                    option(value="") Choisir un utilisateur
                    each user in users
                        option(value=user)= user.profil_user.nom
            div
                label(for="nom") Nom
                input(type="text", id="nom", name="nom")
            div
                label(for="prenom") Prénom
                input(type="text", id="prenom", name="prenom")
            div
                label(for="email") Email
                input(type="email", id="email", name="email")
            div
                label(for="telephone") Téléphone
                input(type="tel", id="telephone", name="telephone")
            div 
                label(for="telephone") Password
                input(type="text", id="password", name="password")
            div
                label(for="role") Rôle
                select(id="role", name="role")
                    option(value="") Choisir un rôle
                    option(value="administrateur") Administrateur
                    option(value="utilisateur") Utilisateur
            button.navLink(type="submit") Modifier le compte
    section.liste-users
        table
            thead
                tr
                    th ID
                    th Nom complet
                    th Email 
                    th Telephone
                    th Role
                    th Status
                    th Actions
            tbody
                each user in users
                    tr
                        td= user.id
                        td= user.profil_user.nom
                        td= user.email
                        td= user.profil_user.telephone
                        td= user.role
                        td= user.profil_user.status_adhesion
                        td 
                            a(href=`/users/server/${user.id}`) Voir
                            a(href=`/users/${user.id}`) Modifier
        ul.statistic 
            li Nombre total comptes: !{users.length}
            li Nombre de compte utilisateurs: !{users.filter(user => user.role === 'utilisateur').length}
            li Nombre de compte administrateur: !{users.filter(user => user.role === 'administrateur').length}
            li.btns 
                a.navLink  Exporter les données
                a.navLink(href="/users/server")  Actualiser la page

    link(rel="stylesheet", href="/stylesheets/users.css")
